{% extends 'app1/base.html' %}
{% block content %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        *{
            margin: 0;
            padding: 0 .90px;
            box-sizing: border-box;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
        }
        .forgotPasswordContiner{
            height: auto;
            width: 34%;
            margin: 0 auto;
            margin-top: 100px;
            border: 1px solid black;
        }
        #formContainer{
            display: flex;
            flex-direction: column;
            padding: 10px 10px;
            margin: 20px;
        }
        #formContainer > *{
            margin: 5px 0;
        }
        #formContainer input{
            padding: 10px 5px;
            border-radius: 5px;
            border-style: none;
            background-color: rgba(128, 128, 128, 0.297);
        }

        #submitButton{
            height: 40px;
            width: 100px;
            margin: 0 auto;
            margin-top: 20px;
            cursor: pointer;
            border-style: none;
            border-radius: 5px;
            background-color: rgba(45, 180, 45, 0.785);
            color: white;
        }
    </style>

    <div class="forgotPasswordContiner">
        <form action="" method="post" id="formContainer">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="  enter your email" required>
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="  new password" required>
            <button type="submit" id="submitButton">Submit</button>
        </form>
    </div>


<script>
    let form = document.querySelector('form');
    form.addEventListener('submit', forgotPasswordForm)

    function forgotPasswordForm(event){
        let email = document.getElementById('email');
        let newPassword = document.getElementById('newPassword');

        forgotPasswordFormDetails = {
            email:email.value,
            newPassword : newPassword.value,
        }

        const passwordDetails = JSON.stringify(forgotPasswordFormDetails);
        console.log(passwordDetails)
    }
</script>

{% endblock content %}
