<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hi {{name}},</h2>
    <p>Your Appointment with {{specialist}} has been rescheduled on {{date}} on {{from_time}}. If you have facing any issue please call {{phone}}</p>

    <p>
        Regards, <br>
        {{specialist}} <br>
        {{phone}} <br>
        {{address}} <br>
        {{dist_name}} <br>
        {{dist_name}}, {{state}}, {{pincode}} 
    </p>
</body>
</html>